* {
  box-sizing: border-box;
}

body {
  font-family: "Play", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: url(https://get.wallhere.com/photo/white-mountains-minimalism-symmetry-light-lighting-shape-design-line-ceiling-wing-daylighting-1790.jpg) center / cover no-repeat;
}

.title {
  font-size: 42px;
  font-weight: 700;
  color: #122234;
  text-align: center;

  a {
    text-decoration: none;
    color: #53867d;
    display: inline-block;
    transition: .3s;

    &::after {
      content: '';
      display: block;
      width: 0%;
      height: 3px;
      border-radius: 100px;
      margin-top: -4px;
      background: #53867d;
      transition: .3s;
    }

    &:hover {

      &::after {
        width: 100%;
      }
    }
  }
}

/* Form */
.form__container {
  padding: 40px;
  width: 560px;
  border-radius: 20px;
  text-align: center;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.form__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #122234;
  font-size: 32px;
}

.form__sub-title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;

  & label {
    margin-bottom: 5px;
    text-align: left;
    color: #333;
    margin-left: 6px;
  }

  & input,
  textarea {
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }

  input:focus,
  textarea:focus {
    border-color: #53867d;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
    outline: none;
  }

  button {
    padding: 14px;
    border: none;
    background: #1f445b;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;

    &:hover {
      background: #152e3e;
    }
  }

  .input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .error {
    color: red;
    font-size: 12px;

    position: absolute;
    right: 10px;
    bottom: 14px;
  }
}

/* Modal window */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .3s;

  p {
    font-size: 20px;
    font-weight: 700;
    color: #122234;
  }
}

.modal_active {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.model__close {
  position: absolute;
  right: 10px;
  top: 16px;

  background: none;
  border: none;
  cursor: pointer;

  span {
    background: rgb(232, 93, 93);
    width: 20px;
    height: 3px;
    display: block;
    border-radius: 100px;
    transition: .3s;

    &:nth-child(1) {
      transform: rotate(45deg) translateY(2px);
    }

    &:nth-child(2) {
      transform: rotate(-45deg) translateY(-2px);
    }
  }

  &:hover {
    span {
      background: rgb(135, 36, 36);
    }
  }
}

/* media */

@media (max-width: 767px) {
  .form__container {
    width: 90%;
  }
}

@media (max-width: 481px) {
  .title {
    font-size: 34px;
  }

  .form__container {
    padding: 16px;
  }

  .form__title {
    font-size: 28px;
  }
}